data/
data/raw/san-francisco-bay_california.osm.
data/raw/lodes8_2023_od_table_raw.parquet
data/raw/GTFSTransitData_RG.zip
data/processed/bay_area_lodes_od_table.parquet


# Ignore Python virtual environments
venv/
.env
env/
__pycache__/

# Ignore OS-specific hidden files
.DS_Store
Thumbs.db

# Ignore OSMnx cache
cache/